{% extends 'base.html.twig' %}

{% block title %}
    {{ event.year }}
{% endblock %}

{% block body %}
    <h1>{{ event.year }}</h1>
    <dl>
        {% for day in event.days %}
            <dt>Day {{ day.day }}</dt>
            <dd>{{ day.hasImplementation ? 'Has implementation' : 'No implementation yet' }}</dd>
        {% endfor %}
    </dl>
{% endblock %}


