<?php declare(strict_types=1);

namespace App\Day\Y{{ year }};

use App\Day\AbstractDay;
use App\Utils\DataConverter;
use Symfony\Component\Console\Input\InputInterface;
use Symfony\Component\Console\Output\OutputInterface;

class Day{{ day }} extends AbstractDay
{
    public function part1(string $puzzleInput, InputInterface|null $consoleInput = null, OutputInterface|null $consoleOutput = null): int|string|null
    {
        return null;
    }

    public function part2(string $puzzleInput, InputInterface|null $consoleInput = null, OutputInterface|null $consoleOutput = null): int|string|null
    {            
        return null;
    }
}