<?php

declare(strict_types=1);

namespace Tests\Day\Y{{ year }};

use App\Day\Y{{ year }}\Day{{ day }};
use Tests\DayTestCase;

/**
 * @extends DayTestCase<Day{{ day }}>
 */
class Day{{ day }}Test extends DayTestCase
{
    public const EXAMPLE = <<<'EOF'
        
        EOF;

    /**
    * {@inheritDoc}
    */
    public static function getExamplesPart1(): iterable
    {
        yield 'example' => [
            self::EXAMPLE,
            1,
        ];
    }

    /**
    * {@inheritDoc}
    */
    public static function getExamplesPart2(): iterable
    {
        yield 'example' => [
            self::EXAMPLE,
            1,
        ];
    }
}